<%= stylesheet_link_tag "/assets/signup.css?body=1" %> 
<%= javascript_include_tag "/assets/signup.js?body=1" %>


<a class="" href="/" id="layout_login">登陆</a>
<h1 class="fontlato">注册</h1>
<input type="text" placeholder="邮箱" id="mail" value="" autofocus="">
<input type="text" placeholder="姓名" id="username" value="">
<input type="password" placeholder="登陆密码" id="password" value="">
<button type="submit" id="validation" class="">注册</button>

