<!DOCTYPE html>
<html>
<head>
  <title>Productgaga</title>
  <%= stylesheet_link_tag "/assets/bootstrap.min.css?body=1" %> 

  <%= javascript_include_tag "/assets/jquery-1.8.2.min.js?body=1" %>
  <%= javascript_include_tag "/assets/application.js?body=1" %>
</head>
<body>

<%= yield %>

</body>
</html>
